default_language_version:
  python: python3.9
repos:
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.19.4
    hooks:
      - id: pyupgrade
        language: python
        args: [--py36-plus]
  - repo: https://github.com/ambv/black
    rev: 21.6b0
    hooks:
      - id: black
        language: python
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.2
    hooks:
      - id: flake8
        language: python
        additional_dependencies:
          - flake8-bugbear
          - flake8-import-order
          - pep8-naming
          - flake8-docstrings
          - mccabe
          - yesqa
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: 'v0.902'
    hooks:
      - id: mypy
        additional_dependencies:
          - pydantic
          - types-requests