[tool.poetry]
name = "dicomtrolley"
version = "v0.5.3"
description = "Retrieve medical images via WADO, MINT and DICOM-QR"
authors = ["sjoerdk <sjoerd.kerkstra@radboudumc.nl>"]
readme = "README.md"
license = "Apache-2.0"
repository = "https://github.com/sjoerdk/dicomtrolley"

[tool.black]
line-length = 79
target-version = ['py38']

[tool.poetry.dependencies]
python = "^3.7"
requests = "^2.25.1"
pydicom = "^2.1.2"
pydantic = "^1.8.1"
requests-futures = "^1.0.0"
pynetdicom = "^1.5.6"

[tool.poetry.dev-dependencies]
pytest = "^5.2"
pytest-randomly = "^3.5.0"
pytest-cov = "^2.11.1"
tox = "^3.23.0"
requests-mock = "^1.8.0"

[tool.tox]
legacy_tox_ini = """
[tox]
isolated_build = True
envlist = py37, py38, py39
[gh-actions]
python =
    3.7: py37
    3.8: py38
    3.9: py39
[testenv]
whitelist_externals = poetry
commands =
    poetry install -v
    poetry run pytest --cov=tests/ --cov=panimg/
"""

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"

